.category-gallery{
	.post-meta{
		display: none;
	}
}
.page-id-2799{
	input[type="email"]{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e1e1;
    border-radius: 1px;
    color: #907d7b;
    margin-left: 9px;
    padding: 6px 8px;
	}
	input.wpcf7-form-control{
		margin-left: 0;
	}
	textarea.wpcf7-form-control{
		margin-left: 0;
	}
}