.wfs{
	display: block;
	margin: 5px 5px 0 6px;
	width: 102px;
	height: 27px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url('../images/logoWF.png') no-repeat;
	background-size: contain;
	&_descr{
		margin-left: 6px;
	}
}