.wfs{
	display: inline-block;
	vertical-align: middle;
	margin: 5px 5px 0 6px;
	width: 170px;
	height: 43px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url('../images/logoWF.png') no-repeat;
	background-size: contain;
}